{% from 'macros/title.html' import title_generator %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b1609179cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename='favicon.png') }}" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    {{ title_generator(pages) }}
  </head>
  {% block content %}
  {% endblock %}
</html>