{% from 'macros/title.html' import title_generator %}
{% from 'macros/sidebar_menu.html' import sidebar_menu_generator %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b1609179cd.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename='favicon.png') }}" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    {{ title_generator(pages) }}
  </head>
  <body class="dashboard-body">
    <aside class="sidebar">
      <div class="sidebar-head">
        <a href="{{ url_for('home.home_page') }}">paradise</a>
        <div class="burger-menu">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="sidebar-body">
        <nav>
          <ul>
            {{ sidebar_menu_generator(sidebar_menu) }}
          </ul>
        </nav>
      </div>
      <div class="sidebar-foot">
        <a class="add-music-link" href="{{ url_for('dashboard.add_music') }}">
          <div class="add-btn">
            <i class="fa-light fa-music"></i>
            <span>add music</span>
          </div>
          <span class="tool-type">add music</span>
        </a>
      </div>
    </aside>
    <header>
      <div class="container">
        <div class="header-content">
          <form>
            <label for="search-input">
              <i class="fa-light fa-magnifying-glass"></i>
            </label>
            <input type="search" class="search-input" id="search-input" placeholder="Type anything to get result...">
          </form>
          <div class="user-box">
            <div class="user-img"></div>
            <span class="user-username">{{ current_user.username | capitalize() }}</span>
          </div>
        </div>
      </div>
    </header>
    <main class="page-content">
      {% block content %}
      {% endblock %}
      <footer style="background-image: url({{ url_for('dashboard.static', filename='media/img/footer.jpg') }})">
        <div class="footer-content">
          <a class="mail-link" href="mailto:paradise@gmail.com">paradise@gmail.com</a>
          <div class="app-buttons">
            <div class="purple-btn">
              <a href="#">
                <i class="fa-brands fa-google-play"></i>
                <span>google play</span>
              </a>
            </div>
            <div class="purple-btn">
              <a href="#">
                <i class="fa-brands fa-app-store"></i>
                <span>app store</span>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <script src="{{ url_for('dashboard.static', filename='js/sidebar-menu.js') }}"></script>
    {% block script_src %}
    {% endblock %}
  </body>
</html>