// Colors
$black: #131416;
$black1: #1d1e22;
$white: #ffffff;
$grey: #3c3c3c;
$grey1: #e0e0e0;
$grey2: #cdcdde;
$grey3: #34343e;
$grey4: #92929f;
$grey5: #737578;
$grey6: #5b5b6a;
$purple: #7551d8;
$blue: #3d72d7;
$red: #e72412;
$pink: #ff4689;
$dark-pink: #d21c5e;
$orange: #f85e25;

// Fonts
$monoton: 'Monoton', cursive;
$righteous: 'Righteous', cursive;
$openSans: 'Open Sans', sans-serif;
$mavenPro: 'Maven Pro', sans-serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;