%purple-btn {
  width: 100px;
  height: 30px;
  background-color: $purple;
  border-radius: 20px;
  @include flex-property(flex, center, center);
  @include text-property(14px, $righteous, $white, capitalize);
  @include transition(all, 0.3s, ease-in-out);
  &:hover {
    box-shadow: 0 0 6px 4px $purple;
  }
}