// Colors
$black: #131416;
$white: #ffffff;
$purple: #7551d8;
$blue: #3d72d7;
$pink: #ff4689;
$dark-pink: #d21c5e;
$orange: #f85e25;

// Fonts
$monoton: 'Monoton', cursive;
$righteous: 'Righteous', cursive;
$openSans: 'Open Sans', sans-serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;